body{
 background-color: #e9e9e9;
}

#logo{
  position:absolute;
  top: 13px;
  left: 24px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

nav{
  background-color: #233647;
  font-family: Impact,"Lucida Console";
  font-size: 1.5em;
  margin-top: 10px;
  padding: 25px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 20px 20px 20px 20px;
}

.topnavbar .searcherbox2{
  float: right;
  margin-right: 20px;
}

.topnavbar .searcherbox1{
  float: right;
}

nav li{
  display: inline-block;
  margin: 0 8px;
  padding-top: 1px;
}

nav li a:hover{
  background-color: white;
  color: #233647;
}
